$navbar_forward: 100;
$black: black;

.header__body {
  position: fixed;
  display: flex;
  align-items: center;
  height: 4rem;
  width:100%;
  background-color: $black;
  z-index: $navbar_forward;
}

.header__action__box{
  margin:0 2rem;
  display: flex;
  flex-direction: column;
}
